<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header__logo">

      </div>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <div class="nav__item-logo">

            </div>
            <a href="#" class="nav__item-link">Поиск книг</a>
          </li>
          <li class="nav__item">
            <div class="nav__item-logo">

            </div>
            <a href="#" class="nav__item-link">Избранное</a>
            <span class="nav__item-counter">2</span>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
